/*media query voor laptop begint bij 1024px*/
@media only screen and (min-width: 1024px){

	@keyframes slide{
  	0%{
        transform: translateX(-50px);
    	opacity: 0;
  	}
  	50%{

    	opacity: 1;
  	}


  	100%{
  		transform: translateX(250px);
    	opacity: 0;
  	}

  	.png{
		padding-top: 100px;

	}

	/*deze regel code doet niet echt iets maar het hoort het raampje wat langer
	te maken; nu is hij korter dan bij telefoon of tablet*/
	.day, .night{
		height: 1000px;
	}
	/*ook deze wilt niet naar voren komen in de code. maar als ik dit in de console
	typ dan doet hij het wel (heeft ergens te maken met inheritance maar kon niet
	echt vinden waar dat was*/
	.flex-container{
		margin-left: 100px;
	}

	.clock{
		max-width: 25%;
	}

	span{
		font-size: 4.5vw;
	}

	#date{
		font-size: 2.8vw;
	}
}