/*media query voor tablet begint bij 750px*/
@media only screen and (min-width: 750px){
	.smallx{
		display: none;
	}

	/*verander naar groter spacex logo*/
	.spacex{
		display: flex;
    	width: 40%;
    	margin: 0px auto 20px auto;
	}

	.elon{
		display: flex;
		margin: 20px 20px 40px 40px;
	}

	/*voor nu maar even op 40% ipv 50%; ergens bij een marges gaat het fout
	en worden beide elon en het raampje te breed*/
	.elon, .day, .night, .golden{
		width: 40%;
	}

	.poster{
		max-width: 50%;
		border: 5px solid gold;
		border-radius: 10px;
	}

	.flex-container{
		flex-direction: row;
	}

	.png{
		padding-top: 20px;
		max-width: 10%;
	}

	/*aangepaste keyframes voor elke schermgrootte; anders stopte hij te vroeg*/
	@keyframes slide{
  	0%{
        transform: translateX(-50px);
    	opacity: 0;
  	}
  	50%{

    	opacity: 1;
  	}


  	100%{
  		transform: translateX(180px);
    	opacity: 0;
  	}
}

	.clock{
		max-width: 25%;
	}

	span{
		font-size: 5.5vw;
	}

	h1{
		font-size: 4vw;
	}

	#date{
		font-size: 3.5vw;
	}

}